@import "bootstrap.css";
@import "dataTables.bootstrap.min.css";
@import "lib.scrollDeepPurple.css";

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.container-principal{
    /*border: 1px solid yellow;*/
    height: 700px;
    width: 1320px;
    padding: 0px;
}

/** partie left de la page **/
.container-principal .left-page {
    /*border: 1px solid yellow;*/
    height: 100%;
    width: 20%;
    background: #555;
}

.container-principal .left-page .user-name {
    background: #cc0000;
    padding-left: 25px;
    padding-right: 5px;
    height: 65px;
}

.container-principal .left-page .user-name .name {

}

.container-principal .left-page .user-name .name span {
    color: #fff;
    font-size: 25px;
}

.container-principal .left-page .user-name .profile a {
    color: #eee;
    font-size: 12px;
    text-decoration: none;
}

.container-principal .left-page .user-name .profile a:hover {
    color: #fff;

}

.container-principal .left-page .user-avatar{
    width: 100%;
    padding: 5px;
}

.container-principal .left-page .user-avatar .img{
    width: 70%;
    height: 120px;
    /*border: red 1px solid;*/
    margin: auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    
}

.container-principal .left-page .user-avatar .img img {
    width: 100%;
    height: 100%;
}
/**menu*/
.container-principal .left-page .container-menus {
    /*border: 1px solid #fff;*/
    margin-top: 8px;
    height: 70%;
    overflow-y: auto;
}

.container-principal .left-page .container-menus .myNav {
    padding: 0px;
}

.container-principal .left-page .container-menus .myNav li {
    list-style: none;
}
.container-principal .left-page .container-menus .myNav li a {
    text-decoration: none;
    display: block;
}
.container-principal .left-page .container-menus .myNav > li {
    color: #fff;
    padding: 0px;
    /*border-color: #c0c0c0;*/
    /*border-bottom: #8b949e 0.03px solid;*/
    display: block;
    width: 100%;
}

.myNav .myNav-item:not(:first-child) {
    border-top:1px solid #4d4d4d;
}

.myNav .myNav-item:hover {
    background: #333;
}
.myNav .myNav-item .myNav-content li a:hover {
    background: #333;
}

.container-principal .left-page .container-menus .myNav > li a {
    color: #fff;
}

.container-principal .left-page .container-menus .myNav > li > a span {
    color: #fff;
    font-size: 30px;
    margin-right: 10px;
}

.myNav .myNav-link {
    display: block;
    padding: 10px 12px;
}

.myNav .myNav-content li {
    padding: 5px 8px;
}

.ui-accordion-content {
    display:none;
}

.myNav .active .myNav-link {
    background: #cc0000;
}

.myNav .active > .ui-accordion-content {
    display:block;
}


.container-principal .left-page .container-menus {}

.container-principal .left-page {}


    /** partie droite de la page */
.container-principal .right-page {
    height: 100%;
    width: 80%;
    position: relative;
}

.container-principal .right-page .header-page {
    background: #555;
    height: 65px;
    padding: 5px;
}

.container-principal .right-page .header-page .clock {
    /*border: 1px solid red;*/
    width: 40%;
    margin: auto;
    text-align: right;
    padding-right: 15px;
}

.container-principal .right-page .header-page .clock span {
    color: #efefef;
}

.container-principal .right-page .header-page .clock .glyphicon {
    font-size: 20px;
    color: #fff;
}
.container-principal .right-page .header-page .clock .date {
    font-size: 13px;
}

.container-principal .right-page .header-page .clock .heure #montre {
    font-size: 25px;
    color: #fff;
}
.container-principal .right-page .header-page .clock {}
.container-principal .right-page .header-page {}


/**partie view **/

#loading {
    position: absolute;
    margin: 0px;
    top: 40%;
    bottom: 40%;
    left: 40%;
    right: 40%;
    background: rgba(254, 254, 254, .7);
    border: 1px solid #eee;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    display: none;
}
#loading .img {
    width: 60%;
    /*border: red 1px solid;*/
    margin: auto;
    height: 70%;
}
#loading .img img {
    height: 100%;
    width: 100%;
}
#loading p {
    font-size: 11.5px;
}

.container-principal .right-page .content-view {
    /*border: 1px solid red;*/
    height: 90.5%;
    background: #eee;
    padding-top: 15px;
}

.container-principal .right-page .content-view .views {
    background: #fefefe;
    height: 100%;
    padding: 8px;
}

.container-principal .right-page .content-view .title-view {
    /*width: 98%;*/
    margin: auto;
    padding: 5px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.container-principal .right-page .content-view .title-view p {
    text-align: center;
    font-size: 25px;
    color: #000080;
}

.container-principal .right-page .content-view .view {
    margin: auto;
    margin-top: 10px;
}

.container-principal .right-page .content-view .view .container-dataTable {
    border: 1px solid #eee;
    width: 90%;
    margin: auto;
    height: 525px;
}

.container-principal .right-page .content-view .view .container-dataTable .table-content {
    width: 98%;
    margin: auto;
}

.container-principal .right-page .content-view .view .container-dataTable .dataTable-title {
    padding: 10px;
    margin-bottom: 20px;
}
.container-principal .right-page .content-view .view .container-dataTable .dataTable-title span {}
.container-principal .right-page .content-view .view .container-dataTable {}
.container-principal .right-page .content-view {}







/*** style ajouter*/
.scroll_width {
    width: 98.5%;
}