/*** view patient*/


/************************            add patient *************************/

.add-patient {}

.add-patient .add-patientForm {
    /*border: 1px solid red;*/
    width: 65%;
    margin: auto;
    background: #eee;
    padding: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.add-patient .add-patientForm .form-group {
    /*border: 1px solid yellow;*/
    text-align: center;
}
.add-patient .add-patientForm {}

.add-patient {}



/******************* view liste ******************/

.patient-liste {}

.patient-liste .container-dataTable {}

.patient-liste .container-dataTable .dataTable-title {}

.patient-liste .container-dataTable .dataTable-title .right {

}

.patient-liste .container-dataTable .dataTable-title .right button {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.patient-liste .container-dataTable .dataTable-title .left span {
    font-weight: 500;
}

.patient-liste .container-dataTable {}




/**************************** folder patient .folder-patient **************/

.folder-patient {}

.folder-patient .tab-content .folderOngle1 {}

.folder-patient .tab-content .folderOngle1 .content-tab {
    padding: 10px;
}

.folder-patient .tab-content .folderOngle1 .label {
    color: #000;
    font-size: 13.5px;
}

.folder-patient .tab-content .folderOngle1 .content-span {
    margin-top: 14px;
}

.folder-patient .tab-content {}

.folder-patient {}